<app-wrapper-content title="Empty directive example">
  <app-empty-directive-example></app-empty-directive-example>
</app-wrapper-content>

<app-divider color="red"></app-divider>

<app-wrapper-content title="User role template example">
  <app-user-role-template></app-user-role-template>
</app-wrapper-content>

<app-divider color="red"></app-divider>

<app-wrapper-content title="Dinamic template example">
  <app-dinamic-template></app-dinamic-template>
</app-wrapper-content>

<app-divider color="red"></app-divider>

<app-wrapper-content title="dinamic form example">
  <app-dinamic-form></app-dinamic-form>
</app-wrapper-content>
